// 背景色
$side-header-color: #253141;
$groups-color: #2f3e51;
$main-header-color: #ffffff;
$messages-color: #fafafa;
$form-color: #d2d2d2;
$submit-btn-color: #38aef8;
$edit-btn-color: #38aef0;

// フォントカラー
$side-bar-font-color: #ffffff;